<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLjghpn2BT58V54XMFXQ3RkoW2GQgRGyY</string>
	<key>GCM_SENDER_ID</key>
	<string>74080218394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Seo-garden.Twitter-Clone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-7b6fb</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-7b6fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74080218394:ios:e5cbbd7f84a93c18d4d0a3</string>
</dict>
</plist>